---
---

.canvas--container {
  position: absolute;
  top: 1.75rem;
  left: 0;
  z-index: 0;

  .canvas--info {
    height: 1.75rem;
    display: flex;
    flex-direction: row;
  }

  .canvas--drawing {
    .art--work {
      cursor: pointer;

      &:hover {
        opacity: 0.9;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &.date {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 2px;

      .year-container {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 2px;

        .year-info {
          margin-bottom: 4px;
          border-bottom: 2px var(--txt-color) solid;
          text-align: center;
          opacity: 0;
        }
      }
    }
  }
}
