* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fff;
  --bg-color-l: #ddd;
  --bg-color-hl: #aaa;
  --txt-color: #202020;
  --txt-color-l: #404040;
  --txt-color-hl: #808080;
  --text-color-err: #e44;
  --menu-width: 360px;
  --menu-height: 108px;
  font-size: 13px;
}

html,
body {
  background-color: var(--bg-color);
  color: var(--txt-color);
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  overflow: hidden;
}

.nodata--container {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nodata--container p {
  text-align: center;
}

.nodata--container a {
  color: var(--txt-color-l);
}