@charset "UTF-8";

/* ———————————————— TOP MENU ———————————————— */

.other--menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--menu-height);
  z-index: 20;
  padding-left: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--txt-color);
  color: var(--bg-color);
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.other--menu::-webkit-scrollbar {
  height: 0;
}

.other--menu.contract {
  left: var(--menu-width);
  width: calc(100vw - var(--menu-width));
}

.other--menu section {
  padding: 1.5rem;
}

.other--menu .menu--section--wrapper {
  display: flex;
  flex-direction: row;
}

.menu--section--title {
  display: flex;
  flex-direction: row;
}

.filter--counter--item {
  font-weight: 600;
  width: fit-content;
  padding-right: 0.7rem;
}

.filter--counter--item.hidden {
  display: none;
}

.filter--counter--button {
  padding: 0.4rem 0rem;
  text-align: right;
  text-decoration: underline;
  cursor: pointer;
  white-space: nowrap;
}



/* ———————————————— SIDE MENU ———————————————— */

.common--menu {
  position: fixed;
  width: var(--menu-width);
  height: 100vh;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  overflow: auto;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  font-size: 1rem;
  color: var(--txt-color);
  background-color: transparent;
  transition: left 0.33s linear, right 0.33s linear;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.common--menu.hidden {
  width: 1.75rem;
  height: 1.75rem;
  padding: 0;
  padding-top: 1.75rem;
  overflow: hidden;
  border: 1px var(--txt-color) solid;
}

.common--menu::-webkit-scrollbar {
  display: none;
}

.common--menu .menu--section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-bottom: 1px solid var(--txt-color);
  border-right: 1px solid var(--txt-color);
  background-color: var(--bg-color);
}

.common--menu .menu--section:last-of-type {
  border-bottom: none;
}

.common--menu .menu--section--inverted {
  color: var(--bg-color);
  background-color: var(--txt-color);
}

.common--menu .menu--section--items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.common--menu .menu--section--items.disabled {
  opacity: 50%;
  pointer-events: none;
}

.common--menu .menu--divider {
  margin: 0.75rem 0;
  border-top: solid 1px var(--bg-color-hl);
}



/* ———————————————— ABOUT ———————————————— */

.menu--section.menu--about {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--menu-width);
  min-height: var(--menu-height);
  background-color: var(--txt-color);
  color: var(--bg-color);
  border-right: solid 1px var(--bg-color-hl);
}

.menu--about--logo {
  width: 50%;
}

.menu--about--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu--about--info a {
  color: var(--bg-color);
}

.menu--section--helper {
  margin-top: var(--menu-height);
  border-top: 1px solid var(--bg-color-hl);
}



/* ———————————————— CLOSE BUTTON ———————————————— */

.common--menu .menu--close--button {
  z-index: 1;
  position: fixed;
  top: 0;
  left: calc(var(--menu-width) - 1px);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: var(--menu-height);
  padding: 0;
  margin: 0;
  border: 0;
  border-left: solid 1px var(--bg-color-hl);
  border-right: solid 1px var(--bg-color-hl);
  background-color: var(--txt-color);
  cursor: pointer;
}

.common--menu .menu--close--button:hover {
  background-color: var(--txt-color-l);
}

.common--menu.hidden .menu--close--button {
  position: fixed;
  left: 0;
}

.common--menu.hidden .menu--close--button img {
  transform: rotate(180deg);
}



/* ———————————————— HEADER ———————————————— */

.menu--header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu--title {
  font-size: 1.5rem;
  font-weight: 500;
}

.menu--info {
  all: unset;
  width: 24px;
  height: 24px;
  background-image: url('data:image/svg+xml,<svg width="21" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 20C4.977 20 0.5 15.523 0.5 10C0.5 4.477 4.977 0 10.5 0C16.023 0 20.5 4.477 20.5 10C20.5 15.523 16.023 20 10.5 20ZM9.5 9V15H11.5V9H9.5ZM9.5 5V7H11.5V5H9.5Z" fill="%231F1F1F" shape-rendering="geometricPrecision"/></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

.menu--info>* {
  display: none;
}

.menu--info--container {
  z-index: 1000;
  position: absolute;
  background: var(--txt-color);
  color: var(--bg-color);
  padding: 1rem 1.5rem;
  border-radius: 0.4rem;
  border: solid 1px var(--bg-color-hl);
  max-width: 24rem;
}

.menu--section--title .menu--info {
  background-image: url('data:image/svg+xml,<svg width="21" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.5 20C4.977 20 0.5 15.523 0.5 10C0.5 4.477 4.977 0 10.5 0C16.023 0 20.5 4.477 20.5 10C20.5 15.523 16.023 20 10.5 20ZM9.5 9V15H11.5V9H9.5ZM9.5 5V7H11.5V5H9.5Z" fill="%23FFFFFF" shape-rendering="geometricPrecision"/></svg>');
}



/* ———————————————— INPUTS ———————————————— */

.menu--section .checkbox--item,
.menu--section .radio--item {
  display: flex;
}

.menu--section .checkbox--item input,
.menu--section .radio--item input {
  width: 0;
  cursor: pointer;
}

.menu--section .checkbox--item.disabled,
.menu--section .radio--item.disabled {
  opacity: 50%;
  pointer-events: none;
}

.common--menu .checkbox--item,
.common--menu .radio--item {
  --input-bg: var(--bg-color);
  --input-txt: var(--txt-color);
}

.other--menu .checkbox--item,
.other--menu .radio--item {
  --input-bg: var(--txt-color);
  --input-txt: var(--bg-color);
}

.common--menu .checkbox--item label:hover,
.common--menu .radio--item label:hover {
  --input-bg: var(--bg-color-l);
  --input-txt: var(--txt-color-l);
}

.other--menu .checkbox--item label:hover,
.other--menu .radio--item label:hover {
  --input-bg: var(--txt-color-l);
  --input-txt: var(--bg-color-l);
}

.checkbox--item label,
.radio--item label {
  padding: 0.4rem 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--input-bg);
  border: solid 1px var(--input-txt);
  color: var(--input-txt);
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
}

.checkbox--item input:checked+label,
.radio--item input:checked+label {
  background-color: var(--input-txt);
  color: var(--input-bg);
}

.common--menu .checkbox--item input.all+label,
.common--menu .checkbox--item input.none+label {
  border: none;
  text-decoration: underline;
  padding: 1rem 2rem 1rem 0;
  background-color: transparent;
}

select {
  all: unset;
  appearance: none;
  background: url(../assets/icon_down.svg) no-repeat right center;
  background-size: 1.5rem;
  padding-right: 2.5rem;
  padding: 0.4rem 1.6rem 0.4rem 0.8rem;
  background-color: transparent;
  border: solid 1px var(--bg-color);
  border-radius: 0.25rem;
  user-select: none;
  cursor: pointer;
}

select option {
  color: var(--txt-color);
}



/* ———————————————— SLIDERS ———————————————— */

.range--item {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 1.5rem;
}

.range--item label {
  flex: 0.25;
  padding: 0;
}

.range--item label:last-child {
  text-align: right;
}

.range--item input {
  all: unset;
  appearance: none;
  flex: 1;
  height: 1px;
  margin: 0.75rem 0;
  padding: 0;
  outline: none;
  border-radius: 0;
  background-color: var(--txt-color-l);
  cursor: pointer;
}

.range--item input::-webkit-slider-thumb {
  width: 0.5rem;
  height: 0.75rem;
  border-radius: 12.5%;
  background: var(--txt-color);
  cursor: pointer;
  -webkit-appearance: none;
}



/* ———————————————— 1440px ———————————————— */

@media (max-width: 1440px) {

  .common--menu,
  .filter-menu {
    z-index: 0 !important;
  }

  .canvas--container {
    z-index: 1;
    pointer-events: none;
  }

  .canvas--container>* {
    pointer-events: auto;
  }

  .menu--section.menu--about {
    position: unset;
    margin-top: var(--menu-height);
    border-top: 1px solid var(--bg-color-hl);
  }

  .menu--section--helper {
    margin-top: 0;
  }

  .other--menu,
  .other--menu.contract {
    left: 1.5rem;
    padding-left: 0;
    width: calc(100vw - 1.5rem);
  }

  .common--menu .menu--close--button,
  .common--menu.hidden .menu--close--button {
    left: 0;
  }
}