<div class="canvas--container contract" id="canvas--container">

  {% include pt/menus/other-menu.html %}

  <div class="canvas--drawing" id="canvas--drawing"></div>

  <div class="canvas--intro" id="canvas--intro">
    <p><h3><b>Como Usar:</b></h3>Escolha um ou mais acervos para começar. Use o menu de filtros para refinar as buscas e o menu de visualizações para criar arranjos diferentes a partir das obras filtradas.</p><br>

    <p><b>Filtros:</b> Os filtros permitem selecionar elementos das obras. Eles alteram a quantidade de obras incluídas nas visualizações.</p><br>

    <p><b>Visualizações:</b> As visualizações apresentam maneiras diferentes de explorar as obras selecionadas a partir dos filtros. As visualizações não alteram a quantidade de obras selecionadas, apenas a ordem e posicionamento em que as obras são dispostas na tela.</p><br>

    <p><b>Mosaicos:</b> Os mosaicos são imagens geradas a partir dos filtros e visualizações escolhidos. Diferente das visualizações na tela, essas imagens não são interativas.</p><br>

    <p><b>Curadorias da IA:</b> Seleções feitas automaticamente por inteligência artificial, a partir de características visuais e semânticas das obras de arte.</p>
  </div>
</div>
