<div class="overlay--background hidde" id="intro-overlay--background">
  <div class="overlay--window text--window" id="intro-overlay--window">
    <button class="overlay--close--button" id="intro-overlay--close--button">
      <img src="{{ 'assets/icon_close.svg' | relative_url }}"/>
    </button>

    <div class="overlay--info" id="intro-overlay--info">
      <p><b>Filtros:</b> Os filtros são usados para selecionar quais obras vão ser visualizadas. Eles alteram a quantidade de obras incluidas nas visualizações.</p><br>

      <p><b>Visualizações:</b> As visualizações apresentam maneiras diversas de exploras as obras selecionadas a partir dos filtros. As visualizações não alteram a quantidade de obras selecionadas, apenas a ordem e posicionamento em que as obras são apresentadas na tela.</p><br>

      <p><b>Mosaicos:</b> Os mosaicos são imagens geradas a partir dos filtros e visualizações escolhidos. Diferente das visualizações na tela, essas imagens não são interativas.</p>
    </div>
  </div>
</div>
