<nav class="other-menu contract" id="sorter-menu">
  <button class="menu--close--button" id="sorter--close--button"></button>

  <section class="menu--section">
    <div class="menu--section--title">Visualizations
      <span class="menu--title--required">required</span>
    </div>
    <div class="menu--section--items">
      {% include radio-item.html id="sorter--date--enable" name="sorter-type" value="date" label="Timeline" %}
      <div class="menu--color-picker--items">
        {% include radio-item.html id="sorter--color--enable" name="sorter-type" value="color" label="Colors" %}
        <input type="color" value="#000000" class="sorter--color-picker hidden" id="color--sorter--color-picker">
      </div>
      {% comment %}
      {% include radio-item.html id="sorter--latent--enable" name="sorter-type" value="latent" label="Latent Space" %}
      {% endcomment %}
    </div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">AI Curations</div>
    <div class="menu--section--items">
      <select class="other--dropdown" id="other--cluster-picker">
        <option value="" selected disabled>Choose a curation</option>
      </select>
    </div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Export Images</div>
    <div class="menu--section--items">
      <div class="checkbox--item disabled" id="export--grid--button">
        <label id="export--grid--items">Mosaic</label>
      </div>
      <div class="checkbox--item disabled" id="export--xy--button">
        <label id="export--xy--items">Composition</label>
      </div>
    </div>
  </section>

  <section class="menu--section about--section">
    <div class="about--section--column">
      <div><a href="#" id="menu--about--button">ABOUT</a></div>
      <div>EN | <a href="../pt">PT</a></div>
    </div>
  </section>

  <!-- Graveyard -->
  <div style="display: none;">
    <select class="sorter--dropdown" id="cluster--sorter--cluster-picker"></select>
    <input type="color" value="#000000" class="sorter--color-picker" id="dateXcolor--sorter--color-picker">
    <select name="x-dim" id="clusterXcluster--sorter--x-picker"></select>
    <select name="y-dim" id="clusterXcluster--sorter--y-picker"></select>
  </div>
</nav>
