<nav class="nav-menu" id="nav-menu">
  <button class="menu--close--button" id="nav--close--button">
    <img src="{{ 'assets/icon_left.svg' | relative_url }}"/>
  </button>

  <section class="menu--section button" id="menu--filter--section">
    <div class="menu--section--title">Filtros</div>
    <div class="menu--section--content">Clique aqui para ativar filtros</div>
  </section>

  <section class="menu--section button" id="menu--sorter--section">
    <div class="menu--section--title">Visualizações</div>
    <div class="menu--section--content">Clique aqui para ajustar visualização</div>
  </section>

  <section class="menu--section button" id="menu--export--section">
    <div class="menu--section--title">Mosaicos</div>
    <div class="menu--section--content">Clique aqui para exportar imagens</div>
  </section>
</nav>
