<nav class="filter-menu common--menu" id="filter-menu">
  <button class="menu--close--button" id="filters--close--button">
    <img src="{{ 'assets/icon_left.svg' | relative_url }}"/>
  </button>

  <div class="menu--title">Filtros</div>
  <div class="menu--description">Escolha filtros para refinar a seleção de obras</div>

  <section class="menu--section">
    <div class="menu--section--title">Acervos</div>
    <div class="menu--section--description">Escolha quais acervos incluir</div>
    <div class="menu--section--items" id="collection--filter--items"></div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Técnicas</div>
    <div class="menu--section--description">Escolha o tipo de objeto ou técnica</div>
    <div class="menu--section--items" id="category--filter--items"></div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Datas</div>
    <div class="menu--section--description">Selecione limite de data por ano de criação</div>
    <div class="menu--section--items" id="date--filter--items"></div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Grupos</div>
    <div class="menu--section--description">Selecione uma das sub-categorias sugeridas por IA</div>
    <div class="menu--section--items" id="cluster--filter--items"></div>
  </section>

  <section class="menu--section">
    <div class="menu--section--title">Fauna e Flora</div>
    <div class="menu--section--description">Selecione objetos</div>
    <div class="menu--section--items" id="object--filter--items"></div>
  </section>
</nav>

<link rel="stylesheet" href="{{ 'css/filter-menu.css' | relative_url }}" type="text/css" />
<script src="{{ 'js/FilterMenu.js' | relative_url }}"></script>
