---
overlay:
  results:
    title: Included Works
  detail:
    subtext: >-
      Interpretations generated automatically by Computer Vision.
      In case of errors, please contact acervosdigitais@usp.br.
  about: >-
    <p>Interface for navigating open source art collections by visual features.</p><br>
    <p>Developed by the <a href="https://www.acervosdigitais.fau.usp.br/" target="_blank">Digital Collections and Research</a> Thematic Project, funded by FAPESP.</p><br>
    <p><a href="https://www.acervosdigitais.fau.usp.br/meta-acervos-navegador-para-museus-em-rede/" target="_blank">Details of the project</a>.</p><br>
    <p>All code is available <a href="https://github.com/acervos-digitais/" target="_blank">on GitHub</a>.</p>
canvas:
  intro:
    To Use: >-
      Choose one or more collections to start.
    Color Visualizations: >-
      Choose a color to sort the selected works by.
    Export Images: >-
      Generate a static image with all of the works included in the collections selected.
  mobile: ""
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/canvas.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/overlay.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/menu.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/mobile-menu.css' | relative_url }}" type="text/css" />

    <script type="module" src="{{ 'js/main.js' | relative_url }}"></script>
  </head>

  <body>
    {% include canvas.html lang="en" desktop=false %}
    {% include overlays/results-overlay.html %}
    {% include overlays/detail-overlay.html %}
    {% include overlays/about-overlay.html %}
  </body>
</html>
