---
overlay:
  results:
    title: Obras Incluídas
  detail:
    subtext: >-
      Interpretações geradas automaticamente por Visão Computacional.
      Em caso de erros, por favor contate acervosdigitais@usp.br.
  about: >-
    <p>Interface para navegar coleções de arte por características visuais.</p><br>
    <p>Desenvolvido pelo grupo de pesquisa <a href="https://www.acervosdigitais.fau.usp.br/" target="_blank">Acervos Digitais</a>, um projeto temático financiado pela FAPESP.</p><br>
    <p><a href="https://www.acervosdigitais.fau.usp.br/meta-acervos-navegador-para-museus-em-rede/" target="_blank">Detalhes do projeto</a>.</p><br>
    <p>Todo o código está disponível <a href="https://github.com/acervos-digitais/" target="_blank">no nosso GitHub</a>.</p>
canvas:
  intro:
    Como Usar: >-
      Escolha um ou mais acervos para começar.
    Visualização por Cor: >-
      Escolha uma cor para reorganizar e ressaltar obras com a cor selecionada.
    Crie uma Imagem: >-
      Exporte uma imagem estática com todas as obras incluídas nas seleções de museus.
  mobile: ""
---

<!DOCTYPE html>
<html lang="pt">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/canvas.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/overlay.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/menu.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/mobile-menu.css' | relative_url }}" type="text/css" />

    <script type="module" src="{{ 'js/main.js' | relative_url }}"></script>
  </head>

  <body>
    {% include canvas.html lang="pt" desktop=false %}
    {% include overlays/results-overlay.html %}
    {% include overlays/detail-overlay.html %}
    {% include overlays/about-overlay.html %}
  </body>
</html>
