---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ 'css/main.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/canvas.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/overlay.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/menu.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/filter-menu.css' | relative_url }}" type="text/css" />
    <link rel="stylesheet" href="{{ 'css/sorter-menu.css' | relative_url }}" type="text/css" />

    <script type="module" src="{{ 'js/main.js' | relative_url }}"></script>
  </head>

  <body>
    {% include canvas.html %}
    {% include overlays/detail-overlay.html %}
    {% include menus/nav-menu.html %}
    {% include menus/filter-menu.html %}
    {% include menus/sorter-menu.html %}
  </body>
</html>
