---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
    <script src="{{ 'js/filters/Filter.js' | relative_url }}"></script>
    <script src="{{ 'js/filters/CategoryFilter.js' | relative_url }}"></script>
    <script src="{{ 'js/filters/CollectionFilter.js' | relative_url }}"></script>
    <script src="{{ 'js/filters/ClusterFilter.js' | relative_url }}"></script>
    <script src="{{ 'js/filters/DateFilter.js' | relative_url }}"></script>
    <script src="{{ 'js/filters/ObjectFilter.js' | relative_url }}"></script>

    <script src="{{ 'js/sorters/Sorter.js' | relative_url }}"></script>
    <script src="{{ 'js/sorters/ClusterSorter.js' | relative_url }}"></script>
    <script src="{{ 'js/sorters/ColorSorter.js' | relative_url }}"></script>
    <script src="{{ 'js/sorters/DateSorter.js' | relative_url }}"></script>
    <script src="{{ 'js/sorters/LatentSorter.js' | relative_url }}"></script>
    <script src="{{ 'js/sorters/DateColorSorter.js' | relative_url }}"></script>

    <script src="{{ 'js/drawers/Drawer.js' | relative_url }}"></script>
    <script src="{{ 'js/drawers/BinDrawer.js' | relative_url }}"></script>
    <script src="{{ 'js/drawers/GridDrawer.js' | relative_url }}"></script>
    <script src="{{ 'js/drawers/XyDrawer.js' | relative_url }}"></script>

    <script src="{{ 'js/load_utils.js' | relative_url }}"></script>
    <script src="{{ 'js/main.js' | relative_url }}"></script>
  </head>

  <body>
    {% include canvas.html %}
    {% include menus/nav-menu.html %}
    {% include menus/filter-menu.html %}
    {% include menus/sorter-menu.html %}
    {% include detail-overlay.html %}
  </body>
</html>
